.time{
    -webkit-text-stroke: 3px rgb(255, 255, 255);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.AM{
    -webkit-text-stroke: 3px rgb(255, 255, 255);
   -webkit-text-fill-color: transparent;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sunimg{
      
        filter: drop-shadow(5px 5px 5px #000000c7);
}
:root{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}